<div class="article">
  <div class="article__cover">
    <div class="article__cover-image"><img src="<%- conf.image %>/dummy/photo_image.jpg" alt=""></div>
  </div>
  <div class="article__body">
    <p class="article-title -textColor2">タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</p>
    <p class="article-text -textColor2">テキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
    <div class="article-photos">
      <p><img src="<%- conf.image %>/dummy/photo_image.jpg" alt=""></p>
      <p><img src="<%- conf.image %>/dummy/photo_image.jpg" alt=""></p>
      <p><img src="<%- conf.image %>/dummy/photo_image.jpg" alt=""></p>
    </div>
    <%- include('../../parts/tag/tag.ejs', { conf, type: "foot" }) %>
  </div>
  <div class="article__foot">
    <a class="button article__foot-bt" href="/photo.html">BACK</a>
  </div>
</div>