<div class="favorite">
  <h3 class="favorite-title">FAVORITE</h3>
  <div class="favorite-list">
    <ul class="favorite__items">
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
          <p class="favorite__item-name">NAME</p>
        </div>
      </li>
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
          <p class="favorite__item-name">NAME</p>
        </div>
      </li>
      <li class="favorite__items-item">
        <div class="favorite__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
          <p class="favorite__item-name">NAME</p>
        </div>
      </li>
    </ul>
  </div>
</div>