<div class="list">
  <div class="row">
    <%
      const list = [
        { date: "2020.01.01", image: "discography_img.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト", href: "" },
        { date: "2020.01.01", image: "discography_img.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト", href: "" },
        { date: "2020.01.01", image: "discography_img.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト", href: "" },
        { date: "2020.01.01", image: "discography_img.jpg", tags: [ "NEWS", "MEDIA", "SAMPLE" ], text: "テキストテキストテキストテキストテキストテキストテキストテキスト", href: "" },
      ]
    %>
    <% list.forEach(function (value, key) { _%>
    <div class="col4 card">
      <a class="card-inner -dropshadow2" href="<%- value.href %>">
        <div class="card-cover">
          <img src="<%- conf.image %>/dummy/<%- value.image %>" alt="">
        </div>
        <div class="card__body">
          <div class="card__body__head">
            <p class="date card__body-date"><%- value.date %></p>
            <%- include('../../parts/tag/tag.ejs', { conf, type: "normal" }) %>
          </div>
          <p class="card-text -textColor3"><%- value.text %></p>
        </div>
      </a>
    </div>
    <% }); _%>
  </div>
</div>