<div class="article select">
  <div class="article-options">
	<% for (let index = 0; index < 6; index += 1) { %>
    <span class="clearfix radio">
      <input id="radio01-0<%- index %>" type="radio" name="code" value="0<%- index %>" data-member="0<%- index %>" data-collcode="" data-key="" />
      <label for="radio01-0<%- index %>" class="list-input-item">
        <div class="recommend-select__inner">
          <div class="recommend-select__icon">
            <div class="recommend-select__icon-in">
              <img src="<%- conf.image %>/dummy/favorite.jpg" alt="" />
            </div>
          </div>
          <div class="recommend-select__info">
            <div class="name">テキストテキスト</div>
            <div class="name-en">TEXTTEXT</div>
          </div>
        </div>
      </label>
	</span>
	<% }%>
  </div>
  <div class="article__btn">
    <a class="button article__btn-bt" href="/">SELECT</a>
    <a class="button article__btn-bt btn-white" href="/">BACK</a>
  </div>
  <div class="article__foot">
    <a href="" class="button article__back">
      MY PAGE
    </a>
  </div>
</div>
