<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'news.css',
    image: '/images',
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
  <div class="wrapper">
    <div class="base base--main">
      <div class="inner">
        <%- include('../components/news/head/head.ejs', { conf }) %>
        <%- include('../components/news/list/list.ejs', { conf }) %>
        <%- include('../components/parts/pager/pager.ejs', { conf }) %>
        <%- include('../components/news/filter/filter.ejs', { conf }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
