<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'news_detail.css',
    script: 'news_detail.js',
    image: '/images',
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
  <div class="wrapper">
    <div class="base base--main">
      <div class="inner">
        <%- include('../components/news_detail/head/head.ejs', { conf }) %>
        <div class="row news-detail">
          <div class="col8">
            <%- include('../components/news_detail/article/article.ejs', { conf }) %>
            <%- include('../components/news_detail/operation/operation.ejs', { conf, device: "pc" }) %>
          </div>
          <div class="col4">
            <%- include('../components/parts/posts/posts.ejs', { conf }) %>
            <%- include('../components/parts/filter/category.ejs', { conf, place: "sidebar" }) %>
            <%- include('../components/parts/filter/month.ejs', { conf, place: "sidebar" }) %>
          </div>
        </div>
        <%- include('../components/news_detail/operation/operation.ejs', { conf, device: "sp" }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
