<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'radio_detail.css',
    script: 'radio_detail.js',
    brightcove: {
      accountId: "4504957038001"
    },
    image: imagePath,
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
  <div class="wrapper">
    <div class="base base--main">
      <div class="inner">
          <%- include('../components/radio_detail/head/head.ejs', { conf }) %>
        <%- include('../components/radio_detail/article/article.ejs', { conf }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
