<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'radio_detail.css',
    script: ['https://players.brightcove.net/4504957038001/default_default/index.min.js', 'radio_detail.js'],
    image: '/images',
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
  <div class="wrapper">
    <div class="base base--main">
      <div class="inner">
          <%- include('../components/radio_detail/head/head.ejs', { conf }) %>
        <%- include('../components/radio_detail/article/article.ejs', { conf }) %>
      </div>
    </div>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
<%- include('./common/_foot.ejs', { conf }) %>
