<%
const conf = {
    title : 'top',
    description : 'This is top page',
    style: 'top.css',
    script: 'top.js',
    image: '/images',
};
%>

<%- include('./common/_head.ejs', { conf }) %>
<%- include('../components/parts/loading/loading.ejs', { conf }) %>
<div class="preload">
<%- include('../components/header/header.ejs', { conf }) %>

<main id="main" class="main" role="main">
  <div class="wrapper">
    <%- include('../components/top/mv/mv.ejs', { conf }) %>
    <%- include('../components/top/login/login.ejs', { conf }) %>
    <%- include('../components/top/banner/banner.ejs', { conf }) %>
    <%- include('../components/top/movie/movie.ejs', { conf }) %>
    <%- include('../components/top/news/news.ejs', { conf }) %>
    <%- include('../components/top/link/link.ejs', { conf }) %>
    <%- include('../components/top/alert/alert.ejs', { conf }) %>
  </div>
</main>

<%- include('../components/footer/footer.ejs', { conf }) %>
</div>
<%- include('./common/_foot.ejs', { conf }) %>
