<div class="chackin">
  <h3 class="chackin-title">CHACK IN</h3>
  <div class="chackin-list">
    <ul class="chackin__items">
      <li class="chackin__items-item">
        <div class="chackin__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
        </div>
      </li>
      <li class="chackin__items-item">
        <div class="chackin__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
        </div>
      </li>
      <li class="chackin__items-item">
        <div class="chackin__items-inner">
          <img src="<%- conf.image %>/<%= projectName %>/favorite.jpg" alt="">
        </div>
      </li>
    </ul>
  </div>
</div>