<footer id="footer" class="footer -bgColor3">
  <div class="base footer__base">
    <button class="pagetop">
      <div class="pagetop__icon"><%- include('../include/pagetop.ejs', { }) %></div>
      <p class="pagetop__text">PAGE TOP</p>
    </button>
    <div class="sitesupport">
      <button class="sitesupport-toggle">SITE SUPPORT<span></span></button>
      <div class="sitesupport-list">
        <ul class="sitesupport__items">
          <%
            const links = [
              { text: "MYPAGE", link: "" },
              { text: "会員登録", link: "" },
              { text: "お問い合わせ", link: "" },
              { text: "機種変更される方へ", link: "" },
              { text: "ご利用規約", link: "" },
              { text: "推奨環境", link: "" },
              { text: "個人情報について", link: "" },
              { text: "特定商取引法に基づく表記", link: "" },
              { text: "ログアウト", link: "" },
              { text: "会員退会", link: "" },
            ]
          %>
          <% links.forEach(function (value, key) { _%>
          <li class="sitesupport__items-item"><a href="<%- value.link %>"><%- value.text %></a></li>
          <% }); _%>
        </ul>
      </div>
    </div>
    <div class="social">
      <ul class="social__items">
        <%
          const socials = [
            { name: "twitter", fontawesome: "fab fa-twitter" },
            { name: "facebook", fontawesome: "fab fa-facebook" },
            { name: "apple", fontawesome: "fab fa-apple" },
            { name: "spotify", fontawesome: "fab fa-spotify" },
          ]
        %>
        <% socials.forEach(function (value, key) { _%>
        <li class="social__items-item"><a href=""><i class="<%- value.fontawesome %>"></i></a></li>
        <% }); _%>
      </ul>
    </div>
    <div class="footer-logo">
      <% if (typeof logoColor === 'string' ) { %>
      <img src="<%- conf.image %>/common/logo--<%- logoColor %>.png" alt="">
      <% } else { %>
      <img src="<%- conf.image %>/common/logo_foot.png" alt="">
      <% } %>
    </div>
    <p class="jasrac -textColor1">[JASRAC許可番号]<br>6709411168Y45037 | 6709411165Y31015</p>
    <small class="copyright -textColor1">&copy;Sony Music Solutions Inc.</small>
  </div>
</footer>
